<div class="page_header">

  <h1>Upload Photo</h1>

  <%= form_for @post do |f| %>

    <div class="form_group">
      <%= f.label :caption, id: "label" %>
      <%= f.text_field :caption, class: 'form_control' %>
    </div>

    <div class="form_group">
      <%= f.label :image, id: "label", value: "Choose a file" %>

      <span class="form_control choose_img_btn">
        <%= f.file_field :image %>
        <h6>click here</h6>
      </span>

    </div>

    <%= f.submit 'Upload', class: 'btn btn_primary' %>
  <% end %>
</div>
