<!DOCTYPE html>
<html>
  <head>
    <title>RailsInstagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>

    <div class="top_banner">
      <div class="logo">
          <%= image_tag("logo.png", :alt => "main logo", id: "logo") %>
      </div>

      <div class="nav_bar">
        <ul class="nav_bar_list">
          <li>
            <%= link_to "Posts Page", root_path %>
          </li>
          <li>
            <%= link_to "New Post", new_post_path %>
          </li>
          <li>
            <%= link_to "Login", '#' %>
          </li>
          <li>
            <%= link_to "Register", '#' %>
          </li>
        </ul>
      </div>

    </div>

    







    <%= yield %>
  </body>
</html>
